<div class='Cinema'>

  <div class="CinemaBlock">
    <span>Занято: {{getEngagedTickets()}}</span>
    <br>
    <span>Свободно: {{getEmptyTickets()}}</span>
    <ul>
    <li class="ticketList" *ngFor="let item of getTickets()" >
      <span [class]="item ? 'green' : 'red'" ></span>
    </li>
    </ul>
  </div>

  <cash class="OnlineCash" [cashBox-Name] = "'online'"></cash>
  <cash class="OfflineCash" [cashBox-Name] = "'offline'"></cash>


  <span class="error" *ngIf="getEmptyTickets() === 0">{{getError()}}</span>

</div>
